# Ignore local Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Ignore sensitive files
*.pem
*.key
*.p12
*.tfvars    # Ensure sensitive variable files are ignored
*.tfvars.json

# Ignore log files
*.log

# Ignore temporary files
*.bak
*.tmp
*.swp

# Ignore IDE-specific files
.vscode/
.idea/
.DS_Store

# Ignore Ansible-related temporary files
*.retry

# Ignore output files
*.out
*.tfplan
*.plan      # Cover additional Terraform plan file extension

# Ignore test and Python-related files
__pycache__/
*.pytest_cache
coverage/

# Ignore Terratest logs
terratest.log

# Ignore other potential temporary files
*.tmp.*
